

body
{
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); ; */
    background-image: url(../1.png);
    background-size: 100% auto ;
    background-repeat: no-repeat;

    
}

#bigBox
{
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

#bigBox h1
{
    color: white;

}

#bigBOx .inputBox
{
    margin-top: 50px;
    
}

#bigBox .inputBox .inputText
{
    margin-top: 20px;


}

#bigBox .inputBox .inputText input
{
    border: 0;
    padding: 10px 10px;
    border: 1px solid white;
    background-color: balck;
    color: black;


}

#bigBox .inputBox .inputButton
{
    border: 0;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: white;
    margin-top: 30px;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);

}